<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Signup</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">HOSP</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

              <li class="nav-item">
                <a class="nav-link"  href="/">Home</a>
              </li>
            
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Authentication
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/login">Login</a></li>
                  <li><a class="dropdown-item" href="/signup">Signup</a></li>
                  
                </ul>
              </li>

             
              

              <li class="nav-item">
                <a class="nav-link"  href="/reportbug">Report bug</a>
              </li>
              
            </ul>

                   

            
          </div>
        </div>
      </nav>

      {% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}

<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{message}}

  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


  {% endfor %}
  {% endif %}
  {% endwith %}


      


       
      <div class="container">
        <form action="/signup" method="POST">
          <h1 class="display-5">SIGN UP HERE</h1>
          <hr/>
          
            <div class="col-md-4 mb-3">
              <label for="validationDefault01">First name</label>
              <input type="text" class="form-control" id="firstname" placeholder="First name" name="firstname" required>
            </div>
            <div class="col-md-4 mb-3">
              <label for="validationDefault02">Last name</label>
              <input type="text" class="form-control" id="lastname" placeholder="Last name" name="lastname" required>
            </div>

            <div class="col-md-3 mb-3">
              <label for="validationDefault05">Phone no.</label>
              <input type="tel" class="form-control" id="phonenum" name="phonenum" required>
            </div>

            <div class="col-md-3 mb-3">
              <label for="validationDefault05">email id.</label>
              <input type="email" class="form-control" id="email" name="email" required>
            </div>
            
           
          

            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Current Address (including pin code)</label>
              <textarea class="form-control" id="caddress" name="caddress"></textarea>
            </div>

            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Permanent Address (including pin code)</label>
              <textarea class="form-control" id="paddress" name="paddress"></textarea>
            </div>




            <div class="col-md-3 mb-3">
              <label for="validationDefault05">Medical Licence Number (MIL)</label>
              <input type="Number" class="form-control" id="mil" name="mil" required>
            </div>

            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Name of the Medical college graduated from (with address):</label>
              <textarea class="form-control" id="mcaddress" name="mcaddress"></textarea>
            </div>


            <div class="col-md-4 mb-3">
              <label for="validationDefault02">New password</label>
              <input type="password" class="form-control" id="password" name="password" required>
            </div>

        
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
              <label class="form-check-label" for="invalidCheck2">
                Agree to terms and conditions
              </label>
            </div>
          </div>
          <button class="btn btn-primary" type="submit">Submit form</button>
        </form>
        Already a user? <a href="/login"> login</a>


      
     

    </div>
      

    

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

   
  </body>
</html>